.form-container {
  background: #f4f7f8;
  padding: 30px;
  border-radius: 10px;
}

label {
  color: black;
  font-weight: 500;
}

table th:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child {
  border-radius: 0 10px 10px 0;
}

.tab {
  color: black;
}

.no-light {
  box-shadow: none !important;
  outline: none;
}
