.form-container {
  background: #f4f7f8;
  padding: 30px;
  border-radius: 10px;
}

label {
  color: black;
  font-weight: 500;
}

table th:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child {
  border-radius: 0 10px 10px 0;
}

.tab {
  color: black;
}

.no-light {
  box-shadow: none !important;
  outline: none;
}

.thead-cosmic {
  background-color: #6a6a94 !important;
}

.container {
  color: black;
}

.items-border {
  border-radius: 10px;
  background: #6a6a94 !important;
  cursor: default !important;
  font-weight: 700;
  color: whitesmoke;
  height: 60px;
}
