<app-loading *ngIf="loading"></app-loading>
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-body class="margin-elements">
      Are you sure to delete this?
      <br />
      <br />
      <br />
      <button
        nbButton
        size="small"
        status="danger"
        (click)="ref.close('remove')"
        class="no-light mr-2"
      >
        Remove
      </button>
      <button nbButton size="small" (click)="ref.close()" class="no-light ml-3">
        Close
      </button>
    </nb-card-body>
  </nb-card>
</ng-template>
<div class="container animate__animated animate__fadeIn" *ngIf="!loading">
  <div class="row d-flex align-items-center text-center">
    <div class="col-md-3">#Order Number</div>
    <div class="col-md-2">Customer</div>
    <div class="col-md-2">Payment Method</div>
    <div class="col-md-2">Total Amount</div>
    <div class="col-md-2">
      <button nbButton status="success" size="small" routerLink="/order">
        <i class="fas fa-plus-square"><span>&nbsp;&nbsp;</span></i> Create Order
      </button>
    </div>
  </div>
  <div
    class="row mt-4 d-flex align-items-center text-center"
    *ngFor="let item of orderList"
  >
    <div class="col-md-3" (click)="openForEdit(item._id)">
      <b>{{ item.orderNumber }}</b>
    </div>
    <div class="col-md-2" (click)="openForEdit(item._id)">
      {{ item.customerName }}
    </div>
    <div class="col-md-2" (click)="openForEdit(item._id)">
      {{ item.paymentMethod }}
    </div>
    <div class="col-md-2" (click)="openForEdit(item._id)">
      $ {{ item.totalAmount }}
    </div>
    <div class="col-md-2">
      <a class="btn text-danger" (click)="open(dialog, item._id)"
        ><i class="fas fa-trash fa-lg"></i
      ></a>
    </div>
  </div>
</div>
