<app-loading *ngIf="loading"></app-loading>
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-body class="margin-elements">
      Are you sure to delete this?
      <br />
      <br />
      <br />
      <button
        nbButton
        size="small"
        status="danger"
        (click)="ref.close('remove')"
        class="no-light mr-2"
      >
        Remove
      </button>
      <button nbButton size="small" (click)="ref.close()" class="no-light ml-3">
        Close
      </button>
    </nb-card-body>
  </nb-card>
</ng-template>

<div class="table-container animate__animated animate__fadeIn" *ngIf="!loading">
  <table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
      <th>#Order Number</th>
      <th>Customer</th>
      <th>Payment Method</th>
      <th>Total Amount</th>
      <th>
        <button nbButton status="success" size="small" routerLink="/order">
          <i class="fas fa-plus-square"><span>&nbsp;&nbsp;</span></i> Create
          Order
        </button>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderList" class="tab">
        <th (click)="openForEdit(item._id)">{{ item.orderNumber }}</th>
        <td (click)="openForEdit(item._id)">{{ item.customerName }}</td>
        <td (click)="openForEdit(item._id)">{{ item.paymentMethod }}</td>
        <td (click)="openForEdit(item._id)">{{ item.totalAmount }}</td>
        <td>
          <a class="btn text-danger" (click)="open(dialog, item._id)"
            ><i class="fas fa-trash fa-lg"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
